h1{
        font-family: 'Rancho'
}
body{
    font-family: 'Rancho';
    background-color:#24B1B4     
}
div{
    font-family: 'Ovo';
    font-size: 25px;
}

span{
    color: red;
}

.lateimages{
    float: right;
    position: relative;
    left:5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 5px;
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 20px;
    padding-left: 30px;
}
