h1{
        font-family: 'Rancho'
}
body{
    font-family: 'Rancho';
    background-color: lightblue;
}
div{
    font-family: 'Ovo'
}
.lateimages{
    float: none;
    position: static;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 5px;
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 20px;
    padding-left: 30px;
}
